body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #191919;
}

#calculator {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #2E2D39;
    max-width: 270px;
    width: 100%;
    height: 500px;
    padding: 20px 32px;
    border-radius: 14px;
}

.visor {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 150px;
    overflow: hidden;
}

input {
    border: unset;
    background-color: transparent;
    color: #FFF;
    font-size: 64px;
    text-align: right;
}

button {
    background-color: #191919;
    color: #FFF;
    border: 0;
    width: 60px;
    height: 60px;
    margin: 2px;
    border-radius: 40px;
    cursor: pointer;
}

.left-block {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

.operators {
    display: flex;
    flex-direction: column;
}

button.operator {
    background-color: #EFEFEF;
    color: #191919;
    font-size: 18px;
}

button.equal {
    background-color: #9D5DF3;
}